@use '../abstracts/variables';
@use '../abstracts/mixins';

.dates-widget { 
    position: relative;   
    padding-top: variables.$padding-top;
    padding-right: variables.$padding-right;
    padding-left: variables.$padding-left;
    padding-bottom: variables.$padding-bottom;
    border-left: 1px solid rgba(variables.$main-color, 0.1);
    border-right: 1px solid rgba(variables.$main-color, 0.1);

    @media (max-width: variables.$tablet-bp) {
        border-left: none;
        border-right: none;
    }

    @media (max-width: variables.$mobile-bp) {
        padding-top: variables.$padding-top-sm;
        padding-right: variables.$padding-right-sm;
        padding-left: variables.$padding-left-sm;
        padding-bottom: variables.$padding-bottom-sm;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: calc(50% - 0.5px);
        z-index: 1;
        width: 1px;
        height: 100%;
        background-color: rgba(variables.$main-color, 0.1);

        @media (max-width: variables.$mobile-bp) {
            display: none;
        }
    }

}