@use '../abstracts/variables';
@use '../abstracts/mixins';

.info.swiper {
    width: 100%;
}

.info {
    overflow: visible;

    &__inner {
        width: 100%;
        position: relative;
    }

    &__slide {
        opacity: 1;
        transition: opacity 0.2s;
    }

    &__slide:not(.swiper-slide-visible) {
        opacity: 0;
    }

    @media (max-width: variables.$mobile-bp) {
        &__slide:not(.swiper-slide-active) {
            opacity: 0.4;
        }
    }

    &__title {
        @include mixins.date-info-title;
        margin-bottom: 15px;
    }

    &__text {
        @include mixins.date-info-text;
    }

    &__btn {
        position: absolute;
        z-index: 4;
        top: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 50%;
        background-color: #FFFF;
        box-shadow: 0 0 15px 0 rgba(56, 119, 238, 0.1);
        cursor: pointer;

        @media (max-width: variables.$mobile-bp) {
            display: none;
        }

        &_next {
            right: 0px;
            padding-left: 5px;
        }

        &_prev {
            left: 0px;
            padding-right: 2px;
        }

        &.swiper-button-disabled {
            display: none;
        }
    }
}

.swipers {
    min-height: 230px;

    @media (max-width: variables.$mobile-bp) {
        position: absolute;
        width: 100%;
        min-height: auto;
        top: 60dvh;
    }
}