@use '../abstracts/variables';
@use '../abstracts/mixins';

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    color: variables.$main-color;
    background-color: variables.$bcg-color;
}

body {
    min-height: 100%;
    overflow-x: hidden;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    font-family: inherit;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
}