@use './variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::after,
::before {
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
}

.swiper {
  width: 600px;
  height: 300px;
}
