$padding-top: 170px;
$padding-left: 78px;
$padding-right: 42px;
$padding-bottom: 100px;

$padding-top-sm: 59px;
$padding-left-sm: 20px;
$padding-right-sm: 27px;
$padding-bottom-sm: 20px;

$circle-top: 20px;

$radius: 265px;
$item-radius: 28px;
$point-radius: 3px;

$item-count: 6;

$transition-time: 0.4s;

$main-color: #42567a;
$bcg-color: #F4F5F9;
$start-date-color: #5d5fef;
$end-date-color: #f178b6;
$date-info-color: #3877ee;
$item-active-color: #303E58;

$mobile-bp: 576px;
$tablet-bp: 1200px;
