$padding-top: 170px;
$padding-left: 78px;

$radius: 265px;
$item-radius: 28px;
$point-radius: 3px;

$item-count: 6;

$transition-time: 0.4s;

$main-color: #42567a;
$bcg-color: #F4F5F9;
$start-date-color: #5d5fef;
$end-date-color: #f178b6;
$date-info-color: #3877ee;
$item-active-color: #303E58;

$mobile-bp: 576px;
